/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.header {
    margin: 20px auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-position: center;
    text-align: center;
}
body {
    background: url(../img/pattern.svg) fixed;
}
.header-title {
    margin: auto;
    color: rgb(0, 0, 0);
}
.overlay {
    background-color: rgba(255, 255, 255, 0);
}
.card-title {
    font-size: x-large;
    letter-spacing: 0.1em;
    margin: auto;
    color: rgb(0, 0, 0);
}
.text {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    color: rgb(0, 0, 0);
}
.card {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0);
    text-align: center;
}
.square-block {
    display: inline-block;
    width: 20%;
    padding: 30px 20px;
    border: 3px double rgb(0, 0, 0) ;
    background: rgb(156, 202, 23);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px rgb(99, 130, 7);
}
img {
    width: 35%;
}
.counter__btn {
    width: 10%;
    border: 3px double rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px 20px 20px 20px;

}
.counter__value {
    width: 20%;
    border: 3px double rgb(0, 0, 0) ;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px 20px 20px 20px;
}